::ng-deep .mat-mdc-form-field-required-marker,
::ng-deep .mat-form-field-required-marker {
  display: none !important;
}

::ng-deep .custom-field .mdc-notched-outline__notch {
  border-right: none !important;
}

::ng-deep .mdc-notched-outline__notch {
  padding: 0 !important;
  border-left: none !important;
}

::ng-deep .custom-field.mat-focused .mat-mdc-floating-label {
  color: #f43f5e !important; 
}

::ng-deep .custom-field.mat-focused .mdc-notched-outline__leading,
::ng-deep .custom-field.mat-focused .mdc-notched-outline__notch,
::ng-deep .custom-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #f43f5e !important;
  border-width: 2px !important;
}

::ng-deep .custom-field input {
  caret-color: #f43f5e !important;
}

::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__leading,
::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__notch,
::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__trailing {
  border-color: #ef4444 !important;
}

::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mat-mdc-floating-label {
  color: #ef4444 !important;
}